<ion-content>
  <swiper>
    <ng-template swiperSlide>
      <div class="container-slide1">
        <img src="../assets/Perrito.jpeg" style="height: 380px;">
        <h3>Hola, deslizame a la derecha -></h3>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div>
        <h3>Se que a veces me paso de pendejo</h3>
        <img src="../assets/cemamo.jpg" style="height: 240px;">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div>
        <h3>Bueno creo que siempre.....</h3>
        <img src="../assets/Elmo.jpg" style="height: 240px;">
      </div>
      </ng-template>
      <ng-template swiperSlide>
        <div>
          <h3>Pero recuerda siempre pero siempre</h3>
          <img src="../assets/coco.jpeg" style="height: 180px;">
        </div>
        </ng-template>
        <ng-template swiperSlide>
          <div>
            <h3>que me mide 2cm 7u7</h3>
            <img src="../assets/brutal.png" style="height: 240px;">
          </div>
          </ng-template>
          <ng-template swiperSlide>
            <div>
              <h3>mentiras!! Bueno... tal vez es verdad</h3>
              <img src="../assets/Jerry.webp" style="height: 240px;">
            </div>
            </ng-template>
            <ng-template swiperSlide>
              <div>
                <h3>Solo hago estas pendejadas para hacerte reir</h3>
                <img src="../assets/weyya.jpg" style="height: 180px;">
              </div>
              </ng-template>
              <ng-template swiperSlide>
                <div>
                  <h3>Y espero que funcionen >:v</h3>
                  <img src="../assets/pikachu.jpg" style="height: 180px;">
                </div>
                </ng-template>
                <ng-template swiperSlide>
                  <div>
                    <h3>Eres hermosa no cambies ❤</h3>
                    <img src="../assets/TeAmo.jpg" style="height: 240px;">
                  </div>
                  </ng-template>
                  <ng-template swiperSlide>
                    <div>
                      <h3>Fin.</h3>
                      <img src="../assets/Woody.jpg" style="height: 240px;">
                    </div>
                    </ng-template>
  </swiper>
</ion-content>